In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp

In [2]:
male_df = pd.read_csv('./fifa_2022/players_22.csv')

/Users/cnieto/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (25,108) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
male_df.dtypes

sofifa_id            int64
player_url          object
short_name          object
long_name           object
player_positions    object
                     ...
player_face_url     object
club_logo_url       object
club_flag_url       object
nation_logo_url     object
nation_flag_url     object
Length: 110, dtype: object

In [4]:
male_df.shape

(19239, 110)

In [5]:
male_df.head(2)

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png

### eliminamos columnas inutiles

#### 1 - eliminar columnas con url

In [6]:
male_df.drop(['player_face_url','player_url','club_logo_url','club_flag_url','nation_logo_url','nation_flag_url'],axis=1,inplace=True)

In [7]:
for i in male_df.columns:
    if i.__contains__('url'):
        print(i)

In [8]:
for i in male_df.columns:
    print(i)

sofifa_id
short_name
long_name
player_positions
overall
potential
value_eur
wage_eur
age
dob
height_cm
weight_kg
club_team_id
club_name
league_name
league_level
club_position
club_jersey_number
club_loaned_from
club_joined
club_contract_valid_until
nationality_id
nationality_name
nation_team_id
nation_position
nation_jersey_number
preferred_foot
weak_foot
skill_moves
international_reputation
work_rate
body_type
real_face
release_clause_eur
player_tags
player_traits
pace
shooting
passing
dribbling
defending
physic
attacking_crossing
attacking_finishing
attacking_heading_accuracy
attacking_short_passing
attacking_volleys
skill_dribbling
skill_curve
skill_fk_accuracy
skill_long_passing
skill_ball_control
movement_acceleration
movement_sprint_speed
movement_agility
movement_reactions
movement_balance
power_shot_power
power_jumping
power_stamina
power_strength
power_long_shots
mentality_aggression
mentality_interceptions
mentality_positioning
mentality_vision
mentality_penalties
mentality_composure
defending_marking_awareness
defending_standing_tackle
defending_sliding_tackle
goalkeeping_diving
goalkeeping_handling
goalkeeping_kicking
goalkeeping_positioning
goalkeeping_reflexes
goalkeeping_speed
ls
st
rs
lw
lf
cf
rf
rw
lam
cam
ram
lm
lcm
cm
rcm
rm
lwb
ldm
cdm
rdm
rwb
lb
lcb
cb
rcb
rb
gk

### usamos columna sofifa_id como indice del dataframe

In [9]:
male_df.set_index('sofifa_id',drop=True,inplace=True)

#### Resumen de abreviaciones de posiciones

GK - Goalkeeper

RB - Right Back

RWB - Right Wing Back

CB - Centre Back

LWB - Left Wing Back

LB - Left Back

CM - Centre Mid

CDM - Centre Defensive Mid

CAM - Centre Attacking Mid

RM - Right Mid

LM - Left Mid

LW - Left Wing

RW - Right Wing

CF - Centre Forward

LF - Left Forward

RF - Right Forward

ST - Striker

In [10]:
male_df[[
    'short_name','ls',
'st',
'rs',
'lw',
'lf',
'cf',
'rf',
'rw',
'lam',
'cam',
'ram',
'lm',
'lcm',
'cm',
'rcm',
'rm',
'lwb',
'ldm',
'cdm',
'rdm',
'rwb',
'lb',
'lcb',
'cb',
'rcb',
'rb',
'gk']]

,short_name,ls,st,rs,lw,lf,cf,rf,rw,lam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
sofifa_id,,,,,,,,,,,,,,,,,,,,,
158023,L. Messi,89+3,89+3,89+3,92,93,93,93,92,93,...,64+3,64+3,64+3,66+3,61+3,50+3,50+3,50+3,61+3,19+3
188545,R. Lewandowski,90+2,90+2,90+2,85,88,88,88,85,86+3,...,66+3,66+3,66+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3
20801,Cristiano Ronaldo,90+1,90+1,90+1,88,89,89,89,88,86+3,...,59+3,59+3,59+3,63+3,60+3,53+3,53+3,53+3,60+3,20+3
190871,Neymar Jr,83+3,83+3,83+3,90,88,88,88,90,89+2,...,63+3,63+3,63+3,67+3,62+3,50+3,50+3,50+3,62+3,20+3
192985,K. De Bruyne,83+3,83+3,83+3,88,87,87,87,88,89+2,...,80+3,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261962,Song Defu,44+2,44+2,44+2,46,45,45,45,46,46+2,...,46+2,46+2,46+2,48+2,48+2,46+2,46+2,46+2,48+2,15+2
262040,C. Porter,45+2,45+2,45+2,47,46,46,46,47,47+2,...,46+2,46+2,46+2,49+2,48+2,44+2,44+2,44+2,48+2,14+2
262760,N. Logue,45+2,45+2,45+2,46,46,46,46,46,47+2,...,46+2,46+2,46+2,47+2,47+2,45+2,45+2,45+2,47+2,12+2
262820,L. Rudden,47+2,47+2,47+2,47,47,47,47,47,45+2,...,29+2,29+2,29+2,33+2,32+2,26+2,26+2,26+2,32+2,15+2
264540,E. Lalchhanchhuaha,45+2,45+2,45+2,47,47,47,47,47,47+2,...,44+2,44+2,44+2,45+2,45+2,41+2,41+2,41+2,45+2,16+2

In [19]:
male_df[male_df.short_name=='L. Messi']

,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,height_cm,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
sofifa_id,,,,,,,,,,,,,,,,,,,,,
158023,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,1987-06-24,170,...,64+3,64+3,64+3,66+3,61+3,50+3,50+3,50+3,61+3,19+3

#### crear nuevas columnas con "+" que contengan el numero añadido - PDTE

### buscar todos los jugadores de una misma selección para comparar sus stats

### en nuestro caso: Francia

In [11]:
male_df[(male_df.short_name == 'K. Mbappé') | (male_df.short_name == "N. Kanté") |
       (male_df.short_name == "P. Pogba") | (male_df.short_name == "A. Griezmann") |
       (male_df.short_name == "K. Benzema") | (male_df.short_name == "O. Dembélé") |
       (male_df.short_name == "B. Pavard") | (male_df.short_name == "H. Lloris") |
       (male_df.short_name == "D. Upamecano")][['short_name','ls',
'st',
'rs',
'lw',
'lf',
'cf',
'rf',
'rw',
'lam',
'cam',
'ram',
'lm',
'lcm',
'cm',
'rcm',
'rm',
'lwb',
'ldm',
'cdm',
'rdm',
'rwb',
'lb',
'lcb',
'cb',
'rcb',
'rb',
'gk']]

,short_name,ls,st,rs,lw,lf,cf,rf,rw,lam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
sofifa_id,,,,,,,,,,,,,,,,,,,,,
231747,K. Mbappé,89+3,89+3,89+3,90,90,90,90,90,89+3,...,63+3,63+3,63+3,67+3,63+3,54+3,54+3,54+3,63+3,18+3
215914,N. Kanté,72+3,72+3,72+3,77,77,77,77,77,78+3,...,87+3,87+3,87+3,85+3,85+3,84+3,84+3,84+3,85+3,20+3
165153,K. Benzema,87+2,87+2,87+2,85,87,87,87,85,86+3,...,62+3,62+3,62+3,63+3,59+3,55+3,55+3,55+3,59+3,18+3
167948,H. Lloris,31+3,31+3,31+3,33,34,34,34,33,38+3,...,38+3,38+3,38+3,35+3,34+3,30+3,30+3,30+3,34+3,85+2
195864,P. Pogba,82+3,82+3,82+3,82,83,83,83,82,85+2,...,78+3,78+3,78+3,74+3,72+3,72+3,72+3,72+3,72+3,13+3
194765,A. Griezmann,84+1,84+1,84+1,85,86-1,86-1,86-1,85,86-1,...,69+3,69+3,69+3,71+3,69+3,63+3,63+3,63+3,69+3,21+3
231443,O. Dembélé,76+3,76+3,76+3,83,81,81,81,83,81+3,...,58+3,58+3,58+3,63+3,59+3,47+3,47+3,47+3,59+3,17+3
229558,D. Upamecano,62+2,62+2,62+2,63,63,63,63,63,64+2,...,76+2,76+2,76+2,74+2,76+2,82+2,82+2,82+2,76+2,17+2
226851,B. Pavard,66+3,66+3,66+3,67,66,66,66,67,68+3,...,76+3,76+3,76+3,76+3,77+3,77+3,77+3,77+3,77+3,17+3

In [12]:
male_21_df = pd.read_csv('./fifa_2022/players_21.csv')

In [13]:
male_21_df[(male_21_df.short_name == 'K. Mbappé') | (male_21_df.short_name == "N. Kanté") |
       (male_21_df.short_name == "P. Pogba") | (male_21_df.short_name == "A. Griezmann") |
       (male_21_df.short_name == "K. Benzema") | (male_21_df.short_name == "O. Dembélé") |
       (male_21_df.short_name == "B. Pavard") | (male_21_df.short_name == "H. Lloris") |
       (male_21_df.short_name == "D. Upamecano")][['short_name','ls',
'st',
'rs',
'lw',
'lf',
'cf',
'rf',
'rw',
'lam',
'cam',
'ram',
'lm',
'lcm',
'cm',
'rcm',
'rm',
'lwb',
'ldm',
'cdm',
'rdm',
'rwb',
'lb',
'lcb',
'cb',
'rcb',
'rb',
'gk']]

,short_name,ls,st,rs,lw,lf,cf,rf,rw,lam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
11,K. Mbappé,88+3,88+3,88+3,89,89,89,89,89,87+3,...,63+3,63+3,63+3,67+3,63+3,55+3,55+3,55+3,63+3,18+3
14,K. Benzema,86+3,86+3,86+3,85,87,87,87,85,86+3,...,63+3,63+3,63+3,63+3,59+3,55+3,55+3,55+3,59+3,18+3
27,N. Kanté,72+3,72+3,72+3,77,77,77,77,77,79+3,...,86+2,86+2,86+2,85+3,84+3,83+3,83+3,83+3,84+3,20+3
29,H. Lloris,31+3,31+3,31+3,32,33,33,33,32,35+3,...,37+3,37+3,37+3,35+3,34+3,30+3,30+3,30+3,34+3,85+2
38,A. Griezmann,85+2,85+2,85+2,86,86,86,86,86,86+1,...,71+3,71+3,71+3,73+3,70+3,65+3,65+3,65+3,70+3,21+3
57,P. Pogba,82+3,82+3,82+3,82,83,83,83,82,84+3,...,78+3,78+3,78+3,76+3,74+3,73+3,73+3,73+3,74+3,13+3
209,O. Dembélé,76+3,76+3,76+3,83,81,81,81,83,81+3,...,58+3,58+3,58+3,63+3,59+3,47+3,47+3,47+3,59+3,17+3
343,B. Pavard,66+2,66+2,66+2,68,67,67,67,68,69+2,...,79+2,79+2,79+2,78+2,79+2,80+2,80+2,80+2,79+2,18+2
644,D. Upamecano,60+2,60+2,60+2,60,60,60,60,60,62+2,...,74+2,74+2,74+2,70+2,72+2,79+2,79+2,79+2,72+2,16+2

### DESCR de columnas
- short_name object
- long_name object
- player_positions object
- overall int64
- potential int64
- value_eur float64
- wage_eur float64
- age int64
- dob object
- height_cm int64
- weight_kg int64
- club_team_id float64
- club_name object
- league_name object
- league_level float64
- club_position object
- club_jersey_number float64
- club_loaned_from object
- club_joined object
- club_contract_valid_until float64
- nationality_id int64
- nationality_name object
- nation_team_id float64
- nation_position object
- nation_jersey_number float64
- preferred_foot object
- weak_foot int64
- skill_moves int64
- international_reputation int64
- work_rate object
- body_type object
- real_face object
- release_clause_eur float64
- player_tags object
- player_traits object
- pace float64
- shooting float64
- passing float64
- dribbling float64
- defending float64
- physic float64
- attacking_crossing int64
- attacking_finishing int64
- attacking_heading_accuracy int64
- attacking_short_passing int64
- attacking_volleys int64
- skill_dribbling int64
- skill_curve int64
- skill_fk_accuracy int64
- skill_long_passing int64
- skill_ball_control int64
- movement_acceleration int64
- movement_sprint_speed int64
- movement_agility int64
- movement_reactions int64
- movement_balance int64
- power_shot_power int64
- power_jumping int64
- power_stamina int64
- power_strength int64
- power_long_shots int64
- mentality_aggression int64
- mentality_interceptions int64
- mentality_positioning int64
- mentality_vision int64
- mentality_penalties int64
- mentality_composure int64
- defending_marking_awareness int64
- defending_standing_tackle int64
- defending_sliding_tackle int64
- goalkeeping_diving int64
- goalkeeping_handling int64
- goalkeeping_kicking int64
- goalkeeping_positioning int64
- goalkeeping_reflexes int64
- goalkeeping_speed float64

In [14]:
for i,j in male_df.dtypes.iteritems():
    print(i,j)

short_name object
long_name object
player_positions object
overall int64
potential int64
value_eur float64
wage_eur float64
age int64
dob object
height_cm int64
weight_kg int64
club_team_id float64
club_name object
league_name object
league_level float64
club_position object
club_jersey_number float64
club_loaned_from object
club_joined object
club_contract_valid_until float64
nationality_id int64
nationality_name object
nation_team_id float64
nation_position object
nation_jersey_number float64
preferred_foot object
weak_foot int64
skill_moves int64
international_reputation int64
work_rate object
body_type object
real_face object
release_clause_eur float64
player_tags object
player_traits object
pace float64
shooting float64
passing float64
dribbling float64
defending float64
physic float64
attacking_crossing int64
attacking_finishing int64
attacking_heading_accuracy int64
attacking_short_passing int64
attacking_volleys int64
skill_dribbling int64
skill_curve int64
skill_fk_accuracy int64
skill_long_passing int64
skill_ball_control int64
movement_acceleration int64
movement_sprint_speed int64
movement_agility int64
movement_reactions int64
movement_balance int64
power_shot_power int64
power_jumping int64
power_stamina int64
power_strength int64
power_long_shots int64
mentality_aggression int64
mentality_interceptions int64
mentality_positioning int64
mentality_vision int64
mentality_penalties int64
mentality_composure int64
defending_marking_awareness int64
defending_standing_tackle int64
defending_sliding_tackle int64
goalkeeping_diving int64
goalkeeping_handling int64
goalkeeping_kicking int64
goalkeeping_positioning int64
goalkeeping_reflexes int64
goalkeeping_speed float64
ls object
st object
rs object
lw object
lf object
cf object
rf object
rw object
lam object
cam object
ram object
lm object
lcm object
cm object
rcm object
rm object
lwb object
ldm object
cdm object
rdm object
rwb object
lb object
lcb object
cb object
rcb object
rb object
gk object

In [15]:
male_df.drop(['long_name'],axis=1)

,short_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,height_cm,weight_kg,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
sofifa_id,,,,,,,,,,,,,,,,,,,,,
158023,L. Messi,"RW, ST, CF",93,93,78000000.0,320000.0,34,1987-06-24,170,72,...,64+3,64+3,64+3,66+3,61+3,50+3,50+3,50+3,61+3,19+3
188545,R. Lewandowski,ST,92,92,119500000.0,270000.0,32,1988-08-21,185,81,...,66+3,66+3,66+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3
20801,Cristiano Ronaldo,"ST, LW",91,91,45000000.0,270000.0,36,1985-02-05,187,83,...,59+3,59+3,59+3,63+3,60+3,53+3,53+3,53+3,60+3,20+3
190871,Neymar Jr,"LW, CAM",91,91,129000000.0,270000.0,29,1992-02-05,175,68,...,63+3,63+3,63+3,67+3,62+3,50+3,50+3,50+3,62+3,20+3
192985,K. De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,1991-06-28,181,70,...,80+3,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261962,Song Defu,CDM,47,52,70000.0,1000.0,22,1999-01-02,180,64,...,46+2,46+2,46+2,48+2,48+2,46+2,46+2,46+2,48+2,15+2
262040,C. Porter,CM,47,59,110000.0,500.0,19,2002-03-18,175,70,...,46+2,46+2,46+2,49+2,48+2,44+2,44+2,44+2,48+2,14+2
262760,N. Logue,CM,47,55,100000.0,500.0,21,2000-02-07,178,72,...,46+2,46+2,46+2,47+2,47+2,45+2,45+2,45+2,47+2,12+2
262820,L. Rudden,ST,47,60,110000.0,500.0,19,2002-04-23,173,66,...,29+2,29+2,29+2,33+2,32+2,26+2,26+2,26+2,32+2,15+2
264540,E. Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,2002-02-06,167,61,...,44+2,44+2,44+2,45+2,45+2,41+2,41+2,41+2,45+2,16+2

#### buscar relación entre potential y overall. Predicción de quien puede mejorar PDTE

In [16]:
male_df[['potential','overall']]

           potential  overall
sofifa_id
158023            93       93
188545            92       92
20801             91       91
190871            91       91
192985            91       91
...              ...      ...
261962            52       47
262040            59       47
262760            55       47
262820            60       47
264540            60       47

[19239 rows x 2 columns]

In [17]:
male_df[['short_name','value_eur','wage_eur']]

                   short_name    value_eur  wage_eur
sofifa_id
158023               L. Messi   78000000.0  320000.0
188545         R. Lewandowski  119500000.0  270000.0
20801       Cristiano Ronaldo   45000000.0  270000.0
190871              Neymar Jr  129000000.0  270000.0
192985           K. De Bruyne  125500000.0  350000.0
...                       ...          ...       ...
261962              Song Defu      70000.0    1000.0
262040              C. Porter     110000.0     500.0
262760               N. Logue     100000.0     500.0
262820              L. Rudden     110000.0     500.0
264540     E. Lalchhanchhuaha     110000.0     500.0

[19239 rows x 3 columns]

In [18]:
#comentario random

### revisar csv career

In [21]:
df_career = pd.read_excel('./fifa_2022/Career Mode player datasets - FIFA 15-22.xlsx')

In [22]:
df_career.head(5)

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,CF,93,95,100500000.0,550000.0,27,...,45+3,45+3,45+3,54+3,15+3,https://cdn.sofifa.net/players/158/023/15_120.png,https://cdn.sofifa.net/teams/241/60.png,https://cdn.sofifa.net/flags/es.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"LW, LM",92,92,79000000.0,375000.0,29,...,52+3,52+3,52+3,57+3,16+3,https://cdn.sofifa.net/players/020/801/15_120.png,https://cdn.sofifa.net/teams/243/60.png,https://cdn.sofifa.net/flags/es.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,"RM, LM, RW",90,90,54500000.0,275000.0,30,...,46+3,46+3,46+3,55+3,14+3,https://cdn.sofifa.net/players/009/014/15_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/105035/60.png,https://cdn.sofifa.net/flags/nl.png
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,ST,90,90,52500000.0,275000.0,32,...,55+3,55+3,55+3,56+3,17+3,https://cdn.sofifa.net/players/041/236/15_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1363/60.png,https://cdn.sofifa.net/flags/se.png
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Peter Neuer,GK,90,90,63500000.0,300000.0,28,...,38+3,38+3,38+3,36+3,87+3,https://cdn.sofifa.net/players/167/495/15_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1337/60.png,https://cdn.sofifa.net/flags/de.png

In [26]:
df_career.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16155 entries, 0 to 16154
Columns: 110 entries, sofifa_id to nation_flag_url
dtypes: datetime64[ns](2), float64(17), int64(43), object(48)
memory usage: 13.6+ MB

In [29]:
colu = df_career.columns

In [31]:
for i in colu:
    print(i)

sofifa_id
player_url
short_name
long_name
player_positions
overall
potential
value_eur
wage_eur
age
dob
height_cm
weight_kg
club_team_id
club_name
league_name
league_level
club_position
club_jersey_number
club_loaned_from
club_joined
club_contract_valid_until
nationality_id
nationality_name
nation_team_id
nation_position
nation_jersey_number
preferred_foot
weak_foot
skill_moves
international_reputation
work_rate
body_type
real_face
release_clause_eur
player_tags
player_traits
pace
shooting
passing
dribbling
defending
physic
attacking_crossing
attacking_finishing
attacking_heading_accuracy
attacking_short_passing
attacking_volleys
skill_dribbling
skill_curve
skill_fk_accuracy
skill_long_passing
skill_ball_control
movement_acceleration
movement_sprint_speed
movement_agility
movement_reactions
movement_balance
power_shot_power
power_jumping
power_stamina
power_strength
power_long_shots
mentality_aggression
mentality_interceptions
mentality_positioning
mentality_vision
mentality_penalties
mentality_composure
defending_marking_awareness
defending_standing_tackle
defending_sliding_tackle
goalkeeping_diving
goalkeeping_handling
goalkeeping_kicking
goalkeeping_positioning
goalkeeping_reflexes
goalkeeping_speed
ls
st
rs
lw
lf
cf
rf
rw
lam
cam
ram
lm
lcm
cm
rcm
rm
lwb
ldm
cdm
rdm
rwb
lb
lcb
cb
rcb
rb
gk
player_face_url
club_logo_url
club_flag_url
nation_logo_url
nation_flag_url

In [32]:
len(male_df.columns)

103

In [41]:
rows = [26,51,76,103]

In [42]:
collaborators = ['gerard','kseniya','akram','adriana']

In [43]:
row = 0
for i in rows:
    p = np.random.choice(collaborators)
    collaborators.remove(p)
    print(f'{p} has to do rows from {row} to {i}')
    row = i

gerard has to do rows from 0 to 26
kseniya has to do rows from 26 to 51
akram has to do rows from 51 to 76
adriana has to do rows from 76 to 103